.rpg-sizer {

    --rpg-screen-height: calc(90vh);
    --rpg-screen-rate: (4 / 3);

    --rpg-screen-border-width: 3vh;
    --rpg-screen-border-color-out: rgb(59, 56, 56);
    --rpg-screen-border-color-center: rgb(175, 171, 171);
    --rpg-screen-border-color-in: rgb(68, 114, 196);
}

/* .conversation-box-container */
:root {
    --conversation-box-width: 636px;
    --conversation-box-height: 196px;
    --conversation-box-font-size: 2rem;
    --conversation-box-controls-height: 7px;
}

.conversation-box-options {
    --conversation-box-options-font-size: 2rem;
}

body {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #fff;

    box-sizing: border-box;
}

.rpg-sizer {

    width: calc(var(--rpg-screen-height) *var(--rpg-screen-rate));
    height: var(--rpg-screen-height);

    min-width: calc(var(--conversation-box-width) + 100px);
    min-height: calc((var(--conversation-box-height) + 100px) * var(--rpg-screen-rate));

    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto auto;

    border-width: calc(var(--rpg-screen-border-width) / 3);
    border-style: solid;
    border-color: var(--rpg-screen-border-color-in);
    border-image-slice: 1;

    outline-width: calc(var(--rpg-screen-border-width) / 3);
    outline-style: solid;
    outline-color: var(--rpg-screen-border-color-center);

    box-shadow: 0 0 0 calc(var(--rpg-screen-border-width) / 3 * 2) var(--rpg-screen-border-color-out);

    background-color: rgb(217, 217, 217);

}

#screen {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

}

.bg-screen {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}

.main-screen {
    height: calc(var(--rpg-screen-height) - var(--conversation-box-height) - 20px);

}

.main-screen img {
    height: 300px;
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.conversation-box-container {
    position: absolute;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
}

.conversation-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: var(--conversation-box-width);

    min-height: var(--conversation-box-height);

    padding: 15px 15px 0px;

    border: var(--conversation-box-controls-height) solid;
    border-color: #bf9831;

    margin: 0 auto 7px;

    background-color: #644f17;

}

.conversation-box-text {

    font-size: 2rem;
    color: rgb(226, 202, 142);

}

.conversation-box-controls {
    display: flex;
    flex-direction: row-reverse;
    height: 25px;

    padding: 0px 0px calc(var(--conversation-box-controls-height) + 4px);
    border: 0px;
    margin: 0px;

    text-align: center;
}

.conversation-box-controls * {

    width: auto;
    height: inherit;

    padding: 3px;
    border: 3px;
    border-radius: 3px;
    margin: 0px;
}

.conversation-box-controls>*:hover {

    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;

}

.conversation-box-options>* {

    padding: 2px 3px;

    border: 2px;
    border-style: none;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, .7);


    font-size: var(--conversation-box-options-font-size);
    color: rgb(226, 202, 142);
}

.conversation-box-options>*:hover {
    background-color: #977821;
    border-color: #e9ba3b;
    color: rgb(226, 202, 142);
}

.conversation-box-options>*::before {

    content: url(./img/caret-right-fill.svg);

}

.hidden {
    visibility: hidden
}

.no-display {
    display: none;
}


.screen-too-small {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.7);

    /* visibility: hidden; */

}

.screen-too-small * {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 1rem;

    font-size: 2rem;
    color: #fff;

    line-height: 3rem;
}

@media (min-width: 768px) {
    .screen-too-small {
        visibility: hidden;
    }
}